@using ProjeOOP.Entity
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Products Page</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>ProductName</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td><a href="/Product/DeleteProduct/@item.ProductId">Delete</a></td>
        </tr>
    }

</table>
<a href="/Product/AddProduct/" class="btn btn-primary">Add New Product</a>
