
@{
    Layout = null;
}

<a href="/Default/Customer"> Customer Page</a>
<a href="/Default/Index"> Index Page</a>
<h1>Cities Page</h1>
<table>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Country</th>
        <th>Population</th>
    </tr>
    <tr>
        <td>@ViewBag.id1</td>
        <td>@ViewBag.name1</td>
        <td>@ViewBag.country1</td>
        <td>@ViewBag.population1</td>
    </tr>
</table>


