
@{
    Layout = null;
}

<a href="/Default/Index"> Index Page</a>
<a href="/Default/Products"> Products Page</a>

<h1>Customers Page</h1>
<h2>Word: @ViewBag.word</h2>

<h3>Users: @ViewBag.username</h3>
<h3>Sum2 : @ViewBag.sum3</h3>
<h3>Factorial : @ViewBag.factorial3</h3>
